@{
    ViewBag.Title = "Home Page";
}


<form action="Home/StartParse" method="POST">
    <input type="number" name="start" id="id_start" value="" />
    <input type="number" name="end" id="id_start" value="" />
    <input type="submit" value="Start">
</form>
